@{
    ViewBag.Title = "Dancers Hall";
}

<h2>@ViewBag.Title</h2>


<div data-ng-controller="DancerController as viewModel" data-ng-cloak="">
	
	<div data-ng-if="viewModel.connected">
		
		<form data-ng-submit="viewModel.updateStatus($event)">
			<img data-ng-src="http://graph.facebook.com/{{viewModel.dancer.Id}}/picture" />
			<input type="text" data-ng-model="viewModel.statusText" placeholder="Update your status..." />
			<button type="submit" data-ng-disabled="viewModel.updating">Update status</button>
		</form>
		<hr />
		
		<h3>Online dancers</h3>
		<ul>
			<li data-ng-repeat="dancer in viewModel.ring.Dancers">
				<img data-ng-src="http://graph.facebook.com/{{dancer.Id}}/picture" /> {{dancer.Status}}
			</li>
		</ul>
	</div>
</div>
