@{
    ViewBag.Title = "Dancers Hall";
}

<div data-ng-controller="DancerController as viewModel" data-ng-cloak="">
	<div data-ng-if="viewModel.connected">
		<form data-ng-submit="viewModel.update($event)">
			<img data-ng-src="http://graph.facebook.com/{{viewModel.dancer.Id}}/picture?type=normal" class="img-circle" />
			<input type="text" data-ng-model="viewModel.dancer.Status" placeholder="Status" />
			<button type="submit" data-ng-disabled="viewModel.updating">Update</button>
		</form>
		
		<fieldset>
			<button type="button" class="btn" data-ng-disabled="viewModel.dancer.Location.Y == 0" data-ng-click="viewModel.move('Y', -1, $event)">Up</button>
			<button type="button" class="btn" data-ng-disabled="viewModel.dancer.Location.X == 0" data-ng-click="viewModel.move('X', -1, $event)">Left</button>
			<button type="button" class="btn" data-ng-click="viewModel.move('Y', 1, $event)">Down</button>
			<button type="button" class="btn" data-ng-click="viewModel.move('X', 1, $event)">Right</button>
		</fieldset>
	</div>
</div>
