<div data-ng-controller="DanceRingController as viewModel" data-ng-cloak="">
	<ul class="dancers">
		<li class="dancer" data-ng-repeat="dancer in viewModel.dancers" style="top: {{dancer.LocationY}}px; left: {{dancer.LocationX}}px">
			<img data-ng-src="http://graph.facebook.com/{{dancer.Id}}/picture?type=large" class="img-circle" /><br />
			<p data-ng-if="dancer.Status">{{dancer.Status}}</p>
		</li>
	</ul>
</div>