body.danceoff {
	padding: 5px 0 0 0;
}

.login {
	position: absolute;
	top: 50%;
	left: 50%;
	height: 50px;
	width: 400px;
	margin: -25px 0 0 -200px;
}

div.circle { 
    -webkit-border-radius: 500px;
    border: 5px dotted coral;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -200px 0 0 -200px;
    width: 400px;
    height: 400px;
    z-index: -1;
    
    -webkit-animation: circle-run 30s infinite;
    -webkit-animation-timing-function:linear;
}

@-webkit-keyframes circle-run {
    0%{
        -webkit-transform:rotate(0deg);
    }
    100% 
    {
        -webkit-transform:rotate(360deg);
    }
}

ul.dancers {
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-size: 11px;
	font-family: verdana;
	color: #ffffff;
}

ul.dancers li {
	margin: 0;
	padding: 0;
	position: absolute;
	text-align: center;
}

ul.dancers li img {
	border: 1px solid #000000;
}

ul.dancers li p {
	margin-top: -20px;
	background-color: #000000;
	position: relative;
	padding: 5px;
}

.rotator {
    -webkit-animation: 
        pulse 0.2s infinite,
        rotator 1s infinite linear;    
}

.jump {
    -webkit-animation: 
        pulse 0.2s infinite,
        jump 0.5s infinite linear;    
}

@-webkit-keyframes rotator 
{
    0%{
        -webkit-transform:rotate(0deg);
    }
    25%{
        -webkit-transform:rotate(10deg);
    }
    50%{
        -webkit-transform:rotate(0deg);
    }
    75%{
        -webkit-transform:rotate(-10deg);
    }    
}

@-webkit-keyframes jump {
    0%{
        margin-top: 0;
    }
    25%{
        margin-top: -10px;
    }
    50%{
        margin-top: 0
    }
    75%{
        margin-top: 10px;
    }      
}

@-webkit-keyframes pulse {
	0% {
		opacity: 0.9;		
	}
	50% {
		opacity: 1;	
	}	
	100% {
		opacity: 0.9;	
	}			
}

/*
  We're using CSS transitions for when
  the enter and move events are triggered
  for the element that has the .dancer
  class
*/
.dancer.ng-enter, 
.dancer.ng-move {
  -webkit-transition:0.5s linear all;
  -moz-transition:0.5s linear all;
  -o-transition:0.5s linear all;
  transition:0.5s linear all;
  opacity:0;
}
 
/*
 The ng-enter-active and ng-move-active
 are where the transition destination properties
 are set so that the animation knows what to
 animate.
*/
.dancer.ng-enter.ng-enter-active,
.dancer.ng-move.ng-move-active {
  opacity:1;
}
 
/*
  We're using CSS keyframe animations for when
  the leave event is triggered for the element
  that has the .dancer class
*/
.dancer.ng-leave {
  -webkit-animation:0.5s my_animation;
  -moz-animation:0.5s my_animation;
  -o-animation:0.5s my_animation;
  animation:0.5s my_animation;
}
 
@keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}
 
/*
  Unfortunately each browser vendor requires
  its own definition of keyframe animation code...
*/
@-webkit-keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}
 
@-moz-keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}
 
@-o-keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}